@import "./variables.scss";
input:focus,
button:focus,
button:active {
  outline: none;
  box-shadow: none;
  box-shadow: none;
}

.login-page {
  background-color: $black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center; // cross
  justify-content: center; // main

  .login-container {
    display: flex;
    flex-direction: column;
    width: 325px;
    align-items: center;

    .title {
      font-weight: 700;
      color: $white;
      text-align: center;
      font-size: $text-size-extra-big;
      margin: $margin-size-3 0px;
    }

    .input {
      margin-bottom: $margin-size-2;
    }

    .sign-up {
      text-align: center;
      font-size: $text-size-small;
      color: $white;
      margin-top: 2px;
      a {
        transition: 0.3s;
        color: $blue;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.main-page {
  background-color: $black;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;

  .collections {
    color: $white;

    background-color: $grey;
    .title {
      padding: 30px 0px 15px 24px;
      font-size: $text-size-big;
    }
    .create {
      margin: 30px 0px 0px 24px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background: linear-gradient(
        90deg,
        rgba(205, 105, 224, 1) 0%,
        rgba(253, 164, 163, 1) 100%
      );
      font-size: 14px;
    }

    .collection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 12px 0px 24px;

      &.active {
        background-color: $lightgrey;
      }
      .info {
        display: flex;
        padding: 16px 0px;
        border-radius: 0px;
        align-items: flex-start;
        cursor: pointer;
      }

      .edit {
        display: none;
        cursor: pointer;
        padding: 0px 4px;
      }

      .color {
        margin-right: 8px;
        width: 24px;
        height: 24px;
        border-radius: 6px;
      }

      &:hover {
        .edit {
          display: block;
        }
        background-color: $lightgrey;
      }
    }
  }

  .notes {
    margin: 0 auto;
    padding: 60px 20px 12px 20px;
    width: 800px;
    color: $white;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    .title {
      font-weight: 700;
      font-size: $text-size-extra-big;
    }

    .add {
      border: 1px dashed lighten($color: $lightgrey, $amount: 10);
      padding: 12px 12px;
      border-radius: 18px;
      display: flex;
      align-items: center;
      .create {
        margin-right: $margin-size-2;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: 16px;
        color: $grey;
      }
    }

    .notes-wrap {
      .title {
        font-size: 1.1rem;
      }
      .tasks {
      }

      .completed {
      }
    }
  }

  @media only screen and (max-width: $media-xl) {
    .notes {
      width: 600px;
    }
  }
  @media only screen and (max-width: $media-lg) {
    .notes {
      width: 450px;
    }
  }
  @media only screen and (max-width: $media-md) {
    .notes {
      width: 100%;
    }
  }
}
