@import "./variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.m {
  &-0 {
    margin: 0;
  }

  &-1 {
    margin: $margin-size-1;
  }

  &-2 {
    margin: $margin-size-2;
  }

  &-3 {
    margin: $margin-size-3;
  }

  &-4 {
    margin: $margin-size-4;
  }

  &-5 {
    margin: $margin-size-5;
  }

  &x {
    &-0 {
      margin-left: 0;
      margin-right: 0;
    }

    &-1 {
      margin-left: $margin-size-1;
      margin-right: $margin-size-1;
    }

    &-2 {
      margin-left: $margin-size-2;
      margin-right: $margin-size-2;
    }

    &-3 {
      margin-left: $margin-size-3;
      margin-right: $margin-size-3;
    }

    &-4 {
      margin-left: $margin-size-4;
      margin-right: $margin-size-4;
    }

    &-5 {
      margin-left: $margin-size-5;
      margin-right: $margin-size-5;
    }

    &-auto {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &y {
    &-0 {
      margin-top: 0;
      margin-bottom: 0;
    }

    &-1 {
      margin-top: $margin-size-1;
      margin-bottom: $margin-size-1;
    }

    &-2 {
      margin-top: $margin-size-2;
      margin-bottom: $margin-size-2;
    }

    &-3 {
      margin-top: $margin-size-3;
      margin-bottom: $margin-size-3;
    }

    &-4 {
      margin-top: $margin-size-4;
      margin-bottom: $margin-size-4;
    }

    &-5 {
      margin-top: $margin-size-5;
      margin-bottom: $margin-size-5;
    }
  }

  &l {
    &-0 {
      margin-left: 0;
    }

    &-1 {
      margin-left: $margin-size-1;
    }

    &-2 {
      margin-left: $margin-size-2;
    }

    &-3 {
      margin-left: $margin-size-3;
    }

    &-4 {
      margin-left: $margin-size-4;
    }

    &-5 {
      margin-left: $margin-size-5;
    }
  }

  &r {
    &-0 {
      margin-right: 0;
    }

    &-1 {
      margin-right: $margin-size-1;
    }

    &-2 {
      margin-right: $margin-size-2;
    }

    &-3 {
      margin-right: $margin-size-3;
    }

    &-4 {
      margin-right: $margin-size-4;
    }

    &-5 {
      margin-right: $margin-size-5;
    }
  }

  &t {
    &-0 {
      margin-top: 0;
    }

    &-1 {
      margin-top: $margin-size-1;
    }

    &-2 {
      margin-top: $margin-size-2;
    }

    &-3 {
      margin-top: $margin-size-3;
    }

    &-4 {
      margin-top: $margin-size-4;
    }

    &-5 {
      margin-top: $margin-size-5;
    }
  }

  &b {
    &-0 {
      margin-bottom: 0;
    }

    &-1 {
      margin-bottom: $margin-size-1;
    }

    &-2 {
      margin-bottom: $margin-size-2;
    }

    &-3 {
      margin-bottom: $margin-size-3;
    }

    &-4 {
      margin-bottom: $margin-size-4;
    }

    &-5 {
      margin-bottom: $margin-size-5;
    }
  }
}

.p {
  &-0 {
    padding: 0;
  }

  &-1 {
    padding: $margin-size-1;
  }

  &-2 {
    padding: $margin-size-2;
  }

  &-3 {
    padding: $margin-size-3;
  }

  &-4 {
    padding: $margin-size-4;
  }

  &-5 {
    padding: $margin-size-5;
  }

  &x {
    &-0 {
      padding-left: 0;
      padding-right: 0;
    }

    &-1 {
      padding-left: $margin-size-1;
      padding-right: $margin-size-1;
    }

    &-2 {
      padding-left: $margin-size-2;
      padding-right: $margin-size-2;
    }

    &-3 {
      padding-left: $margin-size-3;
      padding-right: $margin-size-3;
    }

    &-4 {
      padding-left: $margin-size-4;
      padding-right: $margin-size-4;
    }

    &-5 {
      padding-left: $margin-size-5;
      padding-right: $margin-size-5;
    }
  }

  &y {
    &-0 {
      padding-top: 0;
      padding-bottom: 0;
    }

    &-1 {
      padding-top: $margin-size-1;
      padding-bottom: $margin-size-1;
    }

    &-2 {
      padding-top: $margin-size-2;
      padding-bottom: $margin-size-2;
    }

    &-3 {
      padding-top: $margin-size-3;
      padding-bottom: $margin-size-3;
    }

    &-4 {
      padding-top: $margin-size-4;
      padding-bottom: $margin-size-4;
    }

    &-5 {
      padding-top: $margin-size-5;
      padding-bottom: $margin-size-5;
    }
  }

  &l {
    &-0 {
      padding-left: 0;
    }

    &-1 {
      padding-left: $margin-size-1;
    }

    &-2 {
      padding-left: $margin-size-2;
    }

    &-3 {
      padding-left: $margin-size-3;
    }

    &-4 {
      padding-left: $margin-size-4;
    }

    &-5 {
      padding-left: $margin-size-5;
    }
  }

  &r {
    &-0 {
      padding-right: 0;
    }

    &-1 {
      padding-right: $margin-size-1;
    }

    &-2 {
      padding-right: $margin-size-2;
    }

    &-3 {
      padding-right: $margin-size-3;
    }

    &-4 {
      padding-right: $margin-size-4;
    }

    &-5 {
      padding-right: $margin-size-5;
    }
  }

  &t {
    &-0 {
      padding-top: 0;
    }

    &-1 {
      padding-top: $margin-size-1;
    }

    &-2 {
      padding-top: $margin-size-2;
    }

    &-3 {
      padding-top: $margin-size-3;
    }

    &-4 {
      padding-top: $margin-size-4;
    }

    &-5 {
      padding-top: $margin-size-5;
    }
  }

  &b {
    &-0 {
      padding-bottom: 0;
    }

    &-1 {
      padding-bottom: $margin-size-1;
    }

    &-2 {
      padding-bottom: $margin-size-2;
    }

    &-3 {
      padding-bottom: $margin-size-3;
    }

    &-4 {
      padding-bottom: $margin-size-4;
    }

    &-5 {
      padding-bottom: $margin-size-5;
    }
  }
}

.input {
  width: 100%;
  .input-wrap {
    .input-field {
      background-color: lighten($grey, 90%);
      padding: 10px 8px;
      border-radius: 5px;
      border: none;
      width: 100%;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box;
    }
  }
  .error-message {
    color: $red;
    font-size: $text-size-small;
    margin-top: 4px;
  }

  &.transparent {
    .input-wrap {
      .input-field {
        background-color: transparent;
        color: white;
      }
    }
  }
  &:focus {
    border-bottom: 3px solid red;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal {
  line-height: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 999;
  .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $black;
    opacity: 60%;
  }
  .title {
    text-align: center;
    color: $white;
    font-size: $text-size-medium;
    font-weight: 600;
  }

  .modal-container {
    width: 400px;
    min-height: 200px;
    background-color: $lightgrey;
    border-radius: 2rem;
    padding: 20px;
    .delete {
      cursor: pointer;
      color: $red;
      font-weight: 600;
    }
    .sure {
      display: flex;
      align-items: center;
      font-size: $text-size-small;
      color: white;
      .yes {
        padding-right: 8px;
        cursor: pointer;
        color: $red;
        font-size: $text-size-medium;
      }
      .cancel {
        cursor: pointer;
      }
    }
    .category-modal {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .note-modal {
      .date {
        display: flex;
        align-items: center;
      }
    }
  }
}

.submit-button {
  cursor: pointer;
  width: 100%;
  margin-top: 4px;
  margin-bottom: $margin-size-2;
  background-color: $darkblue;
  padding: 12px;
  border-radius: 5px;
  color: $white;
  border: none;
  font-size: $text-size-medium;

  transition: 0.3s;
  &:hover {
    background-color: lighten($darkblue, 5%);
  }
  &.danger {
    background-color: $red;
  }
}

.checkbox {
  font-size: 26px;
  color: $pink;
  cursor: pointer;
}

.datepicker {
  margin-left: 10px;
  .react-date-picker {
    background-color: white;
    border-radius: 4px;
    outline: none;
    .react-date-picker__wrapper {
      border: none;
    }
  }
}

.note {
  background-color: $lightgrey;
  padding: 12px 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .note-wrap {
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    .info {
      width: 100%;
      .note-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: $text-size-medium;
        font-weight: 500;

        i {
          cursor: pointer;
        }
      }

      .date {
        font-size: $text-size-small;
        color: $white;
      }
    }
    .icons {
      display: flex;
      align-items: center;
      .fa-edit {
        display: none;
      }
    }

    &:hover {
      .icons {
        .fa-edit {
          display: flex;
        }
      }
      .date {
        display: block;
      }
    }
  }
}
