// Colors
$black: #181820;
$grey: #21212b;
$lightgrey: #272732;
$blue: #2196f3;
$darkblue: #2196f3;
$white: white;
$red: #e9215a;
$line: #2c3338;
$pink: #f8749f;

// Media sizes
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

$margin-size-1: 0.4rem;
$margin-size-2: 0.8rem;
$margin-size-3: 1.4rem;
$margin-size-4: 2.4rem;
$margin-size-5: 4rem;

$text-size-extra-big: 1.8rem;
$text-size-bigger: 1.6rem;
$text-size-big: 1.2rem;
$text-size-medium: 1rem;
$text-size-small: 0.8rem;

$header-height: 48px;
